ipython
packaging
tornado>=6.1.0
jupyter_core
jupyterlab_server~=2.10
jupyter_server>=1.16.0,<3
nbclassic @ git+https://git@github.com/tainella/nbclassic.git
notebook @ git+https://git@github.com/tainella/notebook.git
jinja2>=2.1
tomli
